{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beer Suggestion Machine</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Beer Suggestion Machine</h1>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>      
     


        <div class="frame">
            {% if suggestions != None %}
            <div class="suggestions">
                <table class="suggestions">
                    <tr>
                        {% for col in column_names %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for entry in beers %}
                    <tr>
                        {% for col in entry %}
                        <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            {% endif %}
        </div>
    </body>
</html>
