{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Beer Suggestion Machine</title>
        <link rel="stylesheet" type="text/css" href="{% static "/static/main.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Beer Suggestion Machine</h1>
        </div>
        <div class="frame">
            <form method="get">
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>      
     

        <div class="frame">
            {% if valid_form == True %}
                {% if valid_username == True %}
                    <div class="suggestions">
                        <table class="suggestions_table">
                            <tr>
                                {% for col in column_names %}
                                <th>{{ col }}</th>
                                {% endfor %}
                            </tr>
                            {% for entry in beers %}
                            <tr>
                                {% for col in entry %}
                                    {% if 'https://' in col %}
                                    <td><img src="{{ col }}" alt="Beer Badge" height="100" width="100"></td>
                                    {% elif 'default' in col %}
                                    <td><img src="{% static "badge-beer-default.png" %}" alt="Beer Badge" height="100" width="100"></td>
                                    {% else %}                                
                                    <td>{{ col }}</td>
                                    {% endif %}
                                {% endfor %}

                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <p class="num_results">Results: {{ num_results }}</p>
                {% else %}
                    <h5>Invalid Username</h5>
                {% endif %}
            {% else %}
                <h5>A valid username is required.</h5>
            {% endif %}

        </div>
    </body>
</html>
